*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.users {
  height: calc(100% - 120px);
  overflow-y: auto;
  width: 100%;
}

.user {
  display: flex;
  margin: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  justify-content: space-around;
  min-height: 150px;
  margin-right: 20px;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}

.follow {
  background-color: rgb(151, 228, 50);
}

.unfollow {
  background-color: rgb(247, 80, 80);
}

.info {
  background-color: rgb(3, 59, 17);
  width: 650px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
}

.name {
  font-size: 25px;
  font-weight: 600;
  overflow-x: auto;
}

.status {
  font-size: 20px;
  font-weight: 400;
  overflow-x: auto;
}

.line {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  margin-bottom: 20px;
}

.line div {
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(3, 59, 17);
  font-weight: 800;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}

@media screen and (max-width: 1024px) {
  .user {
    margin: 30px;
  }
  .image {
    height: 70px;
    width: 70px;
  }
  .button {
    font-size: 16px;
  }
  .name {
    font-size: 22px;
  }
  .status {
    font-size: 18px;
  }

  .line div {
    font-size: 20px;
    text-align: center;
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 480px) {
  .user {
    margin: 20px;
    background-color: rgb(3, 59, 17);
    flex-direction: column;
    border-radius: 15px;
  }

  .main {
    flex-direction: row;
    width: 100%;
    min-height: 80px;
  }

  .image {
    height: 60px;
    width: 60px;
  }
  .button {
    font-size: 15px;
  }
  .info {
    width: 100%;
  }

  .name {
    font-size: 20px;
  }
  .status {
    font-size: 16px;
  }

  .line div {
    border-radius: 0px;
    margin: 10px 0;
    height: 50px;
    width: 50px;
  }
  .line div:nth-child(2),
  .line div:nth-child(4) {
    border-left: 1px solid rgb(0, 100, 0);
    border-right: 1px solid rgb(0, 100, 0);
  }
}
