@import "../../../colors.module.css";

.postsArea {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts {
  overflow: auto;
  max-height: 150px;
  background-color: var(--color-dark-background);
  padding: 20px;
  border: 10px solid var(--color-dark-background);
}
