@import "../../../../colors.module.css";

.formControl {
  width: 100%;
  color: var(--color-light-text);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formControl input {
  width: 100%;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formControl span {
  font-weight: 500;
  margin-bottom: 30px;
}

.formControl.error input {
  border: 2px solid var(--color-custom-red);
}

.inputField {
  font-size: 20px;
  color: var(--color-light-text);
  background-color: var(--color-medium-background);
  border: 2px solid var(--color-light-text);
  outline: none;
}
