.formControl {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formControl input {
  width: 100%;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formControl span {
  font-weight: 500;
  margin-bottom: 30px;
}

.formControl.error input {
  border: 2px solid red;
}
