.wrapper {
  margin-top: 40px;
  min-width: 240px;
}

.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 10px;
}

.title {
  font-size: 40px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    min-width: 150px;
  }

  .title {
    font-size: 30px;
  }

  .friends {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    min-width: 120px;
  }

  .title {
    font-size: 25px;
  }

  .friends {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: none;
  }
}
