.header {
  background-color: rgb(2, 122, 32);
  width: 100%;
  margin-bottom: 10px;
  height: 80px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.loginBlock a {
  text-decoration: none;
  color: white;
}
