.header {
  background-color: rgb(0, 100, 0);
  width: 100%;
  margin-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-height: 88px;
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.loginBlock a {
  text-decoration: none;
  color: white;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.login {
  font-weight: 600;
  font-size: 28px;
  border-bottom: 2px solid white;
}

.exit {
  font-weight: 700;
  font-size: 25px;
  color: rgb(247, 48, 48);
  margin-top: 5px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .header img {
    width: 50px;
    height: 50px;
  }
  .name {
    flex-direction: row;
  }
  .login {
    font-size: 24px;
    border-bottom: none;
    border-right: 2px solid white;
    padding-right: 4px;
  }
  .exit {
    margin-left: 20px;
    font-size: 20px;
  }
}
