.header {
  background-color: rgb(0, 100, 0);
  width: 100%;
  margin-bottom: 10px;
  height: 80px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.loginBlock a {
  text-decoration: none;
  color: white;
}
