* {
  font-size: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  grid-area: n;
  background-color: rgb(0, 100, 0);
  padding-left: 5px;
  margin-right: 10px;
}

.item {
  color: white;
  margin: 10px 0;
}

.active {
  color: gold;
  text-decoration: none;
}

.inactive {
  color: #fff;
  text-decoration: none;
}
