.item {
  padding: 10px;
  text-align: start;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main {
  background-color: rgb(3, 59, 17);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
  max-height: 200px;
  width: 100%;
  padding: 10px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.errorOccured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: fill;
}
.addImage {
  margin-top: 20px;
  font-size: 15px;
  color: transparent;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  outline: none;
  max-height: 30px;
}

.errorOccured p {
  margin: 10px 0;
  color: rgb(250, 50, 50);
  font-weight: 600;
  font-size: 17px;
  text-align: center;
}
.addImage::-webkit-file-upload-button {
  visibility: hidden;
}

.addImage::before {
  content: "Change photo";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.addImage:hover::before {
  border-color: black;
  outline: none;
}

.addImage:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.profileText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: right;
  max-width: 60%;
}

.fullName {
  font-weight: 900;
  font-size: 30px;
}

.aboutMe {
  overflow-y: auto;
  max-height: 60px;
}

.description {
  margin-top: 10px;
  background-color: rgb(3, 59, 17);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  min-height: 100px;
}

.contacts {
  font-size: 20px;
  font-weight: 600;
}

.contact {
  margin: 10px;
  border-left: 2px solid rgb(2, 122, 32);
  padding-left: 5px;
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 40%;
}

.jobTitle {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid rgb(2, 122, 32);
}

.jobDescription {
  font-size: 18px;
  font-weight: 500;
  overflow-y: auto;
  max-height: 100px;
  text-align: end;
}
::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(0, 100, 0);
}

.edit {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.editBar {
  margin-top: 10px;
  background-color: rgb(3, 59, 17);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.strangerStatusBar {
  margin-top: 10px;
  background-color: rgb(3, 59, 17);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.profileStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 70%;
}

.inputStatus {
  outline: none;
  width: 100%;
  text-align: right;
}

.paragraphStatus {
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.statusDescription {
  margin-top: 5px;
  font-size: 15px;
  color: rgb(165, 164, 164);
  width: 100%;
  text-align: end;
}

@media screen and (max-width: 1024px) {
  .avatar {
    width: 70px;
    height: 70px;
  }
  .addImage {
    margin-top: 8px;
    max-width: 100px;
    max-height: 20px;
  }
  .addImage::before {
    font-size: 10px;
    text-align: center;
    max-width: 100px;
    max-height: 20px;
    padding: 2px 3px;
  }
  .fullName {
    font-weight: 800;
    font-size: 24px;
  }

  .aboutMe {
    font-size: 18px;
  }

  .contacts {
    font-size: 18px;
    font-weight: 500;
    max-width: 50%;
    overflow-x: auto;
  }
  ::-webkit-scrollbar {
    height: 3px;
  }

  .contact {
    margin: 5px;
    font-size: 18px;
  }

  .jobTitle {
    font-size: 18px;
    font-weight: 600;
  }

  .jobDescription {
    font-size: 18px;
    font-weight: 400;
  }

  .edit,
  .paragraphStatus,
  .inputStatus,
  .editBar {
    font-size: 18px;
  }

  .statusDescription {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .description {
    flex-direction: column;
  }
  .contacts {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .job {
    max-width: 100%;
  }
  .jobTitle {
    margin-bottom: 10px;
  }
}
