.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editProfileForm {
  background-color: rgb(2, 32, 10);
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2 {
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 25px;
  margin: 20px;
}
h2 {
  font-size: 20px;
  margin: 20px;
}

.jobWrapper {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.job label {
  margin-right: 10px;
}
.contacts {
  display: flex;
}

.leftBar,
.rightBar {
  width: 50%;
}
.leftBar {
  margin-right: 10px;
}
.rightBar {
  margin-left: 10px;
}

.button {
  width: 60%;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .editProfileForm {
    margin-top: 20px;
    max-height: 80%;
    overflow-y: auto;
  }
  .contacts {
    flex-direction: column;
  }
  .leftBar,
  .rightBar {
    width: 100%;
    margin: 0;
  }

  ::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(2, 32, 10);
  }
}
