.formControl {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textArea {
  width: 100%;
}

span {
  margin-top: 10px;
  font-weight: 500;
}

.formControl.error textarea {
  border: 2px solid red;
}
