@import "../../../../colors.module.css";

.formControl {
  width: 100%;
  color: var(--color-light-text);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

formControl .textArea {
  width: 100%;
  color: var(--color-light-text);
  background-color: var(--color-medium-background);
  border: 2px solid var(--color-light-text);
  outline: none;
}

formControl span {
  margin-top: 10px;
  font-weight: 500;
}

.formControl.error textarea {
  border: 2px solid var(--color-custom-red);
}
