@import "../../../../colors.module.css";

.item {
  color: var(--color-light-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  background-color: var(--color-background);
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
}

.item img {
  max-width: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .item {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .item img {
    max-width: 40px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 480px) {
  .posts {
    padding: 10px;
  }

  .item {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
  }

  .item img {
    max-width: 30px;
    border-radius: 50%;
  }
}
