.item {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  background-color: rgb(2, 122, 32);
  padding: 10px;
  border-radius: 15px;
}

.item img {
  max-width: 50px;
  border-radius: 50%;
}
