@import "../../colors.module.css";

.loginPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  background-color: var(--color-dark-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-light-text);
  border-radius: 20px;
  padding: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.rememberMe {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkBox {
  max-width: 20px;
  margin: 0;
}

.captcha {
  margin-bottom: 10px;
}

.generalError {
  color: var(--color-custom-red);
}

.send {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.button,
.link {
  color: var(--color-light-text);
  background-color: var(--color-medium-background);
  border: 2px solid var(--color-light-text);
  border-radius: 5px;
  outline: none;
}

.button:disabled,
.link:disabled {
  background-color: var(--color-background);
  cursor: not-allowed;
}

.button {
  width: 40%;
  font-size: 18px;
  padding: 2px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  width: 40%;
  text-align: center;
  padding: 2px;
}
