.loginPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  background-color: rgb(2, 32, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.rememberMe {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkBox {
  max-width: 20px;
  margin: 0;
}

.captcha {
  margin-bottom: 10px;
}

.generalError {
  color: red;
}

.send {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
.button {
  width: 40%;
  font-size: 18px;
  background-color: white;
}
.link {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
  font-size: 18px;
  width: 40%;
  text-align: center;
  padding: 2px;
}
