.app-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.PreLoader {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  height: calc(100% - 88px);
}

.app-wrapper-content {
  background-color: rgb(0, 100, 0);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 769px) {
  .row {
    flex-direction: column;
  }

  .app-wrapper-content {
    height: calc(100% - 30px);
  }
}
