.app-wrapper {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.PreLoader {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  height: calc(100% - 80px);
}

.app-wrapper-content {
  background-color: rgb(0, 100, 0);
  width: 100%;
  height: 100%;
}
