:root {
  --color-dark-background: #012e4a;
  --color-medium-background: #036280;
  --color-background: #378ba4;
  --color-light-background: #81bece;
  --color-light-text: #e8ede7;
  --color-important-text: #ff8c57;
  --color-custom-red: #ff0e0e;
}
