.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 20px 0;
}

.inputDescr {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  resize: vertical;
  min-height: 100px;
  color: var(--color-light-text);
  background-color: var(--color-dark-background);
  border: 2px solid var(--color-light-text);
  padding: 5px;
  outline: none;
}

.addButton {
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 20px;
  color: var(--color-light-text);
  background-color: var(--color-dark-background);
  border: 2px solid var(--color-light-text);
  cursor: pointer;
}

.addButton:disabled {
  background-color: var(--color-background);
  cursor: not-allowed;
}
.addButton:active {
  background-color: var(--color-background);
}
