@import "../../colors.module.css";

.dialogs {
  display: flex;
  flex-direction: row;
  color: var(--color-light-text);
  height: 100%;
  width: 100%;
}

.dialogItems {
  height: 100%;
  background-color: var(--color-background);
  min-width: 160px;
  overflow-y: auto;
}

.dialog {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.5s;
}

.dialog:hover {
  background-color: var(--color-light-background);
}

.avatar {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

.active {
  color: gold;
}
.messagesArea {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  width: 100%;
  overflow: auto;
  height: 60%;
}

@media screen and (max-width: 768px) {
  .dialogItems {
    min-width: 120px;
    max-width: 150px;
    padding: 10px;
  }

  .dialog {
    overflow-x: auto;
    padding: 0;
    margin: 30px 0;
    flex-direction: column;
    text-align: center;
  }

  .avatar {
    height: 50px;
    width: 50px;
    margin: 0;
    margin-bottom: 5px;
  }

  .messagesArea {
    padding: 15px;
    height: 100%;
    width: 100%;
  }
  .messages {
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .messagesArea {
    padding: 5px;
  }
  .dialogItems {
    min-width: 90px;
    max-width: 120px;
    padding: 5px;
  }
  .avatar {
    height: 45px;
    width: 45px;
  }
}

@media screen and (max-width: 320px) {
  .dialogItems {
    min-width: 60px;
    max-width: 80px;
  }
  .avatar {
    height: 45px;
    width: 45px;
  }
}
