.dialogs {
  display: flex;
  flex-direction: row;
  color: white;
  height: 100%;
  width: 100%;
}

.dialogItems {
  height: 100%;
  background-color: rgb(43, 131, 65);
}

.dialog {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.5s;
}

.dialog:hover {
  background-color: rgb(49, 167, 69);
}

.avatar {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

.active {
  color: gold;
}
.messagesArea {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.messages {
  width: 100%;
  overflow: auto;
  height: 60%;
}
