.message {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 10px;
}

.first {
  justify-content: flex-start;
}

.first .avatar {
  margin-right: 40px;
}
.second {
  align-self: flex-end;
  justify-content: flex-end;
}

.second .avatar {
  margin-left: 40px;
}

.avatar {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  background-color: rgb(3, 59, 17);
  border-radius: 10px;
  padding: 20px;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 70%;
}

@media screen and (max-width: 768px) {
  .avatar {
    height: 50px;
    width: 50px;
    margin: 0;
    margin-bottom: 5px;
  }

  .first .avatar {
    margin-right: 30px;
  }

  .second .avatar {
    margin-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .avatar {
    height: 45px;
    width: 45px;
  }

  .first .avatar {
    margin-right: 20px;
  }

  .second .avatar {
    margin-left: 20px;
  }

  .text {
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .avatar {
    display: none;
  }
}
